.vscode/*
configparser/debug.test
assets/web/node_modules/
.idea
flash.iml
flash
clients/go/relp/relpclient
assets/web/npm-debug.log
features/debug.test
features/coverage.out
db/rqutils/debug.test
broker_receiver/local_receiver/debug.test
sqliteutils/debug.test
profile.coverprofile
broker_receiver/local_receiver/debug.test
examples/configs/config-sumit.yaml
assets/web/package-lock.json
.scannerwork/**
coverage.out
golint-report.out
govet-report.out
test_report.json
/clients/go/rsyslogd/rsyslogd
clients/go/relpperf/relpperf
examples/configs/config-free-sumit.yaml
/dataaccess/local-logs/Year=2019/Month=February/Day=10/674326b9-d700-5690-a000-6f50bf4c7baf-0.gz
/clients/go/relpperfv2/relpperf
/indices/logiq-metadata/*
/Frulemap.txt
/flashml/flashmltest/Frulemap.txt
/kmerge/merge-*
*miniodata*
